/* color Top*/

:root {
  --primery-color: #22b3c1;
  --secondery-color: #232223;
  --white-color: #ffffff;
  --text-color: #afafaf;
  --ass-black-color: #2a2a2a;
  --text-champagne-color: #f6eac5;
  --border-color: #eee;
  --france-link-color: #0a58ca;
  --as-backgroud-color: #f7f7f7;
  --icon-backgroud-color: #f0f0f0;
  --cta-border-color: #e0e0e0;
}

/* ////////////////////////////////////// */
/* DEALS HERO SECTION */
/* ////////////////////////////////////// */

.deals-section {
}
.deals-container {
}
.deals-background-img {
  background-image: url(../images/heading-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 260px 0px 190px 0px;
  text-align: center;
}

.deals-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 1.125rem;
}
.deals-big-title {
  font-size: 3.125rem;
  margin-bottom: 1.875rem;
  color: var(--white-color);
  text-transform: capitalize;
  line-height: 3.75rem;
}

.deals-link a:link,
.deals-link a:visited {
  color: var(--white-color);
  margin-bottom: 5px;
}

/* ////////////////////////////////////// */
/* DEALS FORM SECTION */
/* ////////////////////////////////////// */

.form-section {
  padding: 0 0.75rem;
}

.form-container {
  background: var(--primery-color);
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  padding: 35px 60px;
}

.form-title {
  font-size: 1.25rem;
  color: var(--white-color);
  margin: 7px 0px 13px 0px;
}

.main-form {
}

.location-select,
.price-select {
  font-size: 15px;
  background: transparent;
  border: none;
  width: 100%;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
  margin-bottom: 1.875rem;
  font-weight: 300;
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  background: var(--primery-color);
}

.price-select {
}

.location-price-submit {
  font-size: 0.875rem;
  display: inline-block;
  width: 100%;
  background: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  font-weight: 600;
  transition: all 0.3s;
  letter-spacing: 0.5px;
  padding: 0.5rem 1.875rem;
  border-radius: 25px;
  line-height: 23px;
}

.location-price-submit:hover {
  color: var(--primery-color);
  background: var(--white-color);
}

/* ////////////////////////////////////// */
/* BEST DEALS SECTION */
/* ////////////////////////////////////// */

.best-deals-section {
  margin-top: 7.5rem;
}
.best-deals-container {
  padding: 0 0.75rem;
}
.best-deals-title {
  margin-bottom: 1.25rem;
  line-height: 2.25rem;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: var(--ass-black-color);
}
.best-deals-text {
  font-size: 15px;
  text-align: center;
  line-height: 1.875rem;
  color: var(--text-color);
  margin-bottom: 5rem;
}
.deals-img-1,
.deals-img-2,
.deals-img-3,
.deals-img-4 {
  width: 100%;
  height: auto;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}
.best-deals {
}

.deals-item {
  display: flex;
  flex-direction: column;
}

.best-deals .deals-item:nth-child(4) {
  margin-bottom: 30px;
}

.deals-item-container {
  padding: 30px;
  background: var(--as-backgroud-color);
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  margin-bottom: 30px;
}

.deals-item-title {
  font-size: 15px;
  color: var(--primery-color);
  margin-bottom: 20px;
}

.deals-item-header {
  font-size: 1.25rem;
  color: var(--ass-black-color);
  padding-bottom: 25px;
}

.deals-limit {
  border-top: 1px solid #ddd;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
}

.weekly-limit,
.time-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
  gap: 10px;
}

.weekly-limit svg,
.time-duration svg {
  color: #777;
}

.best-deals-text-about {
  font-size: 15px;
  color: var(--text-color);
  line-height: 30px;
  margin: 30px 0px;
}

.best-deals-link:link,
.best-deals-link:visited {
  margin-bottom: 0.5rem;
}
