/* color Top*/

:root {
  --primery-color: #22b3c1;
  --secondery-color: #232223;
  --white-color: #ffffff;
  --text-color: #afafaf;
  --ass-black-color: #2a2a2a;
  --text-champagne-color: #f6eac5;
  --border-color: #eee;
  --as-backgroud-color: #f7f7f7;
  --icon-backgroud-color: #f0f0f0;
  --cta-border-color: #e0e0e0;
}

/* ////////////////////////////////////// */
/* HERO SECTION */
/* ////////////////////////////////////// */

.reservation-hero-section {
  background-image: url(../images/heading-bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 260px 0px 190px 0px;
  position: relative;
}

.reservation-more-link:link,
.reservation-more-link:visited {
  margin-bottom: 7px;
}

/* ////////////////////////////////////// */
/* ACTION SECTION */
/* ////////////////////////////////////// */

.action-2-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.action-2-container {
  padding: 0 12px;
  margin-top: -99px;
}

.number-box {
  background: var(--white-color);
  padding: 1.875rem;
  margin-bottom: 1.875rem;
  border-radius: 23px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: inline-block;
  width: 100%;
}

.action-icon {
  background: var(--icon-backgroud-color);
  display: inline-block;
  padding: 1.125rem;
  border-radius: 50%;
  margin-bottom: 0.8rem;
}

.bi-geo-alt-fill,
.bi-envelope-fill,
.bi-telephone-fill {
  color: var(--primery-color);
  height: 1.375rem;
  width: 1.375rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  color: var(--ass-black-color);
}

.tel-link:link,
.tel-link:visited,
.email-link:link,
.email-link:visited,
.contact-link:link,
.contact-link:visited {
  font-size: 15px;
  color: var(--primery-color);
}

/* ////////////////////////////////////// */
/* CTA ACTION SECTION */
/* ////////////////////////////////////// */

.cta-action-section {
  width: 100%;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.cta-action-container {
  padding: 0 12px;
}

.live-map-location {
  margin-bottom: -6px;
  width: 100%;
  max-width: 100%;
}

.map {
  width: 100%;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border: none;
  height: 28.125rem;
}

.cta-box {
  padding: 45px 30px;
  background: #f9f9f9;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.cta-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--ass-black-color);
  line-height: 36px;
}

.cta-title span {
  color: var(--primery-color);
}

.cta-form {
}
.cta-form div {
  /* display: flex; */
}
.cta-form label {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.cta-form button,
.cta-form select,
.cta-form input {
  width: 100%;
  height: 2.875rem;
  background: transparent;
  font-family: inherit;
  color: #707070;
  font-size: inherit;
  border: 1px solid var(--cta-border-color);
  border-radius: 23px;
  margin-bottom: 1.875rem;
  padding: 10px 20px;
  cursor: pointer;
}

.cta-form button {
  margin-bottom: 0px;
}

.cta-form button {
  background: var(--primery-color);
  color: var(--white-color);
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid var(--primery-color);
}
